<div id="map" class="map"></div>
<my-modals *ngIf="showEdit.show" [type]="showEdit.type" [lat]="showEdit.lat" [lng]="showEdit.lng" (onShown)="onShown()" ></my-modals>
<div style="display: none;" #popupContent id="popupContent">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Overview - {{siteInfos.address}}</h3>
        </div>
        <div class="modal-body row row-nowrap" style="overflow-x: hidden;">
            <div class="vcd-info-style">
                <div><h5><b>DR vCD </b></h5></div>
                <div><h5><b># of Orgs </b></h5></div>
                <div><h5><b># of Replications in Error </b></h5></div>
                <div><h5><b>System Status </b></h5></div>
            </div>
            <div class="row row-nowrap">
                <div *ngFor="let vcd of vcds" class="vcd-info-style">
                    <div class="bottom-border">
                        <div class="row" style="margin-left: -18px; margin-bottom: -24px;">
                            <input type="radio" style="margin: 5px;" [checked]="vcd.site == siteInfos.siteCheked" (click)="changeSiteChecked(vcd.site)" />
                            <h5 style="margin-top: -2px;">{{vcd.name}}</h5> 
                        </div>
                        <h5><span>{{vcd?.site}}</span></h5>
                    </div>
                    <div class="bottom-border">
                        <h5><span>{{vcd?.orgs}}</span></h5>
                    </div>
                    <div class="bottom-border">
                        <h5><span>{{vcd?.errors}}</span></h5>
                    </div>
                    <div>
                        <h5>
                            <span *ngIf="vcd.status == 'Normal'" class="badge badge-success"></span>
                            <span *ngIf="vcd.status == 'Warning'" class="badge badge-orange"></span>
                            <span *ngIf="vcd.status == 'Error'" class="badge badge-danger"></span>
                            <span>{{vcd?.status}}</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" href="http://{{siteInfos.siteCheked}}" target="_blank" >Enter</a>
        </div>
    </div>
</div>