<header class="header-6">
    <div class="branding">
        <a routerLink="/map" routerLinkActive="active" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
        </a>
        <div class="container-div">
            <p class="top-p"><span>vCloud Availability</span></p>
            <p class=bottom-p><span>SP Portal</span></p>
        </div>
    </div>
    <div class="title-div">
        <p>{{mapService.locations}} locations with {{mapService.vcds}} vCD installations</p>
    </div>
    <my-search></my-search>
    <div class="header-actions">
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<router-outlet></router-outlet>