/* blink style */
.icon-blue {
    border-radius: 30px; width: 30px; height: 30px;
    background-image: url(./assets/images/block.png);
    opacity: 1;
    background-color: #49AFD9;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-size: 20px 22px;
}
.icon-green {
    border-radius: 30px; width: 30px; height: 30px;
    background-image: url(./assets/images/block.png);
    opacity: 1;
    background-color: #00BFA9;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-size: 20px 22px;
}
.icon-yellow {
    border-radius: 30px; width: 30px; height: 30px;
    background-image: url(./assets/images/block.png);
    opacity: 1;
    background-color: orange;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-size: 20px 22px;
}
.icon-red {
    border-radius: 30px; width: 30px; height: 30px;
    background-image: url(./assets/images/block.png);
    opacity: 0.8;
    background-color: red;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-size: 20px 22px;
}
@-webkit-keyframes twinkling-icon-green {
    from {
        opacity: 0.1; background-color: #00BFA9;
        position: absolute; top: 5px; left: 5px;
        width: 10px; height: 10px; border-radius: 10px;
    }
    to {
        opacity: 0.3; background-color: #00BFA9;
        position: absolute; top: -30px; left: -30px;
        width: 90px; height: 90px; border-radius: 90px;
    }
}
.blink-icon-green {
    -webkit-animation: twinkling-icon-green 3s infinite ease-in-out;
}
@-webkit-keyframes twinkling-icon-yellow {
    from {
        opacity: 0.1; background-color: orange;
        position: absolute; top: 5px; left: 5px;
        width: 10px; height: 10px; border-radius: 10px;
    }
    to {
        opacity: 0.3; background-color: orange;
        position: absolute; top: -30px; left: -30px;
        width: 90px; height: 90px; border-radius: 90px;
    }
}
.blink-icon-yellow {
    -webkit-animation: twinkling-icon-yellow 3s infinite ease-in-out;
}
@-webkit-keyframes twinkling-icon-red {
    from {
        opacity: 0.1; background-color: red;
        position: absolute; top: 5px; left: 5px;
        width: 10px; height: 10px; border-radius: 10px;
    }
    to {
        opacity: 0.3; background-color: red;
        position: absolute; top: -30px; left: -30px;
        width: 90px; height: 90px; border-radius: 90px;
    }
}
.blink-icon-red {
    -webkit-animation: twinkling-icon-red 3s infinite ease-in-out;
}
/* popup style */
.leaflet-popup-close-button {
    top: 9px !important; right: 12px !important; transform: scale(1.5);
}
.datagrid .datagrid-column .datagrid-column-title {
    text-align: center;
}
.row-nowrap {
    flex-wrap: nowrap; overflow-x: auto;
}
.vcd-info-style {
    border: none; margin: 0 5px; min-width: 200px; flex-grow: 1;
    display: inline-block; white-space: nowrap;
    padding: 0 10px; line-height: 24px;
    color: #666666; font-family: 'Avenir-Book', 'Avenir Roman', 'Avenir';
}
.vcd-info-style b, h5 {
    font-weight: 400; font-style: normal; font-size: 14px;
}
.vcd-info-style span {
    color: #333;
}
.bottom-border {
    border-bottom: 1px solid gray;
}